# Fisiere generate de build
/build*/
/cmake-build-*/
/Debug/
/Release/

# CLion
.idea/

# Visual Studio
.vs/
*.vcxproj.user
*.VC.db
*.sdf
*.opensdf

# Output-uri binare
*.exe
*.dll
*.lib
*.pdb
*.obj
*.o
*.a
*.so

# Librarii precompilate din proiect (opțional)
libs/**/x64/
libs/**/x86/

# Fisiere temporare OS
.DS_Store
Thumbs.db
